.container
  =render 'shared/page_title', title: 'New status'
  =render 'shared/error_msg', obj: @status
  #form
    .well.col-md-8
      =form_for @status do |f|
        .form-group
          =f.label :body, "Status"
          =f.text_area :body, class:'form-control'

        =f.submit 'Submit', class: 'btn btn-success'
