.container
  .well.well-sm
    =mention.status.body
    %h5
      by
      =link_to "#{mention.status.creator.username}", user_path(mention.status.creator.username)
      %small
        =time_ago_in_words mention.status.created_at
        ago
